@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
    background: #DCDCDC;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E90FF;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: #FFF;
    text-align: center;
    margin: 8px;
    padding: 12px 10px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #ADFF2F;
    color: #000;
    border-radius: 15px;
}

.navigation p {
    font-size: 17px;
    color: #FFF;
}

.navigation p span {
    font-size: 17px;
    color: #000;
}

.navigation li.right {
    float: right;
}

.reception {
    max-width: 100vw;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.card_image {
    height: calc(13 * 1rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

.card_image:before,
.card_image:after {
    content: "";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: #e6e6e6b8;
    transform: rotate(45deg);
}

.card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details_image img {
    height: calc(20 * 1rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

.cards_item {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom /100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000) 0 0/100% 2.4rem;
}

.card_content {
    padding: 1rem;
}

.card_content h2 {
    padding-top: 4px;
    text-align: center;
}

.card_content .details-btn {
    width: 100%;
    padding: 8px;
    text-decoration: none;
    background-color: #1E90FF;
    color: #FFF;
}

.card_content .details-btn:hover {
    background-color: #ADFF2F;
    color: #000;
}

h2.card_title,
p {
    margin: 1.2rem 0;
}

h2.card_title {
    margin-bottom: 20px;
    font-size: 1.3em;
}

body {
    font-family: monospace;
    background: #eee;
}

html {
    font-size: 15px;
}


.login {
    background: #FFF;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.login h2 {
    padding: 20px;
    text-align: center;
}

.login .loginForm {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 12px;
    box-sizing: border-box;
}

.login input[type="checkbox"] {
    margin-top: 15px;
}

.login input[type="submit"] {
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 17px;
    cursor: pointer;
    width: 100%;
    background: #1E90FF;
    color: #FFF;
}

.login input[type="submit"]:hover {
    background: #ADFF2F;
    color: #000;
}

.login p {
    font-size: 15px;
    padding-bottom: 12px;
    text-align: center;
}

.login p.right {
    float: right;
    font-size: 15px;
    padding-bottom: 12px;
}

.login p a {
    color: #0000FF;
    text-decoration: none;
}

.login p a:hover {
    color: #0000FF;
    text-decoration: underline;
}

.register {
    background: #FFF;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.register h2 {
    padding: 20px;
    text-align: center;
}

.register .registerForm {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register input[type="email"],
.register input[type="text"],
.register input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 12px;
    box-sizing: border-box;
}

.register input[type="checkbox"] {
    margin-top: 15px;
}

.register input[type="submit"] {
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 17px;
    cursor: pointer;
    width: 100%;
    background: #1E90FF;
    color: #FFF;
}

.register input[type="submit"]:hover {
    background: #ADFF2F;
    color: #000;
}

.register p {
    font-size: 15px;
    padding-bottom: 12px;
    text-align: center;
}

.register p a {
    color: #0000FF;
    text-decoration: none;
}

.register p a:hover {
    color: #0000FF;
    text-decoration: underline;
}

.create, .edit {
    background: #FFF;
    width: 50%;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.create h2,
.edit h2 {
    padding: 20px;
    text-align: center;
}

.create .createForm,
.edit .editForm {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create label,
.edit label {
    font-size: 17px;
    margin-left: -60px;
}

.create input[type="url"],
.create input[type="text"],
.edit input[type="url"],
.edit input[type="text"] {
    width: 140%;
    padding: 20px 20px;
    margin: 8px;
    margin-left: -65px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 12px;
    box-sizing: border-box;
}

.create textarea[type="text"],
.edit textarea[type="text"] {
    width: 120%;
    padding: 50px 44px;
    margin: 8px;
    margin-left: -65px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 4px;

}

.create input[type="submit"],
.edit input[type="submit"] {
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 17px;
    cursor: pointer;
    width: 100%;
    background: #1E90FF;
    color: #FFF;
}

.create input[type="submit"]:hover,
.edit input[type="submit"]:hover {
    background: #ADFF2F;
    color: #000;
}

.edit-delete-btn a {
    text-align: center;
    margin-left: 90px;
    margin-right: 70px;
    padding: 15px;
    text-decoration: none;
    background-color: #1E90FF;
    color: #FFF;
}

.edit-delete-btn a:hover {
    background-color: #ADFF2F;
    color: #000;
}

.search h2,
.search .search-form {
    text-align: center;
    font-size: 30px;
}

.search .search-form input {
    width: 30%;
    padding: 8px;
}

.search .search-form .button-list {
    width: 10%;
    padding: 8px;
    text-decoration: none;
    background-color: #1E90FF;
    color: #FFF;
}

.search .search-form .button-list:hover {
    background-color: #ADFF2F;
    color: #000;
}

.search h4{
    text-align: center;
    font-size: 30px;
}

.search .search-result{
    text-align: center;
    font-size: 25px;
    font-family: "Italianno", cursive;
}

.search .card .card_image img{
    height: calc(10 * 1rem);
    width: calc(15 * 1.2rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

.search .card .card_title{
    margin-bottom: 50px;
}

.search .search-result li{
    display: inline-block;
    margin: 25px;
    list-style: none;
}

footer {
    text-align: center;
    font-size: 30px;
    color: #A9A9A9;
}

@media screen and (max-width: 600px) {

    .navigation li.right,
    .navigation li {
        float: none;
    }

    .login,
    .register,
    .create {
        border-radius: 0px;
    }

    .details_image img {
        width: 60%;
        height: 60%;
        object-fit: cover;
    }
}